@import '../navigation/navigation';
@import 'hero/hero';
.wrapper-head {
    padding-top: 2.5vw;
    padding-bottom: 12vw;
    background-image: linear-gradient(0deg, rgba(152, 195, 232, 0.2), rgba(152, 195, 232, 0) 31.12%);
}
