@font-face {
  font-family: 'GilroyLight';
  font-style: normal;
  src: url(../fonts/Gilroy-Light.woff2) format('woff2'), url(../fonts/Gilroy-Light.woff) format('woff');
}

@font-face {
  font-family: 'GalienLight'; //Galien-Regular
  font-style: normal;
  src: url(../fonts/Galien-Regular.woff2) format('woff2'), url(../fonts/Galien-Regular.woff) format('woff');
}

body {
  font-family: 'GilroyLight', 'Arial', 'sans-serif';
  font-size: 16px;
  line-height: 26px;
}

%bodytext {
  letter-spacing: 0.05em;
  color: #1F3F68;
  opacity: 0.6;
}

%secondtitle {
    font-size: 35px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #316099;
}

%h3 {
  font-size: 35px;
  line-height: 46px;
  letter-spacing: 0.05em;
}

%h4 { 
  font-size: 28px;
  line-height: 46px;
  letter-spacing: 0.05em;
}

.btn {
  border-radius: 10px;
  color: #FFFFFF;
  padding: 15px 48px;
  letter-spacing: 0.04em;
  text-align: center;
}



.logo-light {
  width: 48px;
  height: 32px;
  background: url(../images/pic/logo_light.png) no-repeat center;
}

@media screen and (min-width:375px) and (max-width: 763px) {
  .btn {
    font-size: 12px;
    line-height: 20px;
    padding: 6px 24px;
  }
}

.container {
  max-width: 940px;
  margin: auto;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .main {
      padding-top: 70px;
  }

  .container {
      padding: 0 10px;
  }
}

