@font-face {
  font-family: GilroyLight;
  src: url(../fonts/Gilroy-Light.otf);
}

@font-face {
  font-family: GalienLight;
  src: url(../fonts/OTF/Galien-Light.otf);
}

%bodytext {
  font-family: GilroyLight;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #1F3F68;
  opacity: 0.6;
}

%secondtitle {
    font-family: GilroyLight;
    font-size: 35px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #316099;
}

%h3 {
  font-family: GilroyLight;
  font-size: 35px;
  line-height: 46px;
  letter-spacing: 0.05em;
}

%h4 { 
  font-family: GilroyLight;
  font-size: 28px;
  line-height: 46px;
  letter-spacing: 0.05em;
}

.btn {
  border-radius: 10px;
  color: #FFFFFF;
  padding: 15px 48px;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.04em;
  text-align: center;
  font-family: GilroyLight;
}

img {
width: 100%;
}  

.logo {
  width: 48px;
  height: 32px;
  background: url(../images/pic/header/logo.png) no-repeat center;
}

.logo-light {
  width: 48px;
  height: 32px;
  background: url(../images/pic/logo_light.png) no-repeat center;
}

@media screen and (min-width:375px) and (max-width: 763px) {
  .btn {
    font-size: 12px;
    line-height: 20px;
    padding: 6px 24px;
  }
}

