@import "common-styles";
@import "media";

.selected {
  width: 20px;
}

.wrap {

  &__box {
    height: 200px;
    width: 200px;
    background-color: map_get($colors, red);

    @extend .selected;
  }
}
