@import '../sass/common-styles';
@import './reset';
@import '../components/header/header';
@import '../components/main/main';


.main-wrapper {
  max-width: 1366px;
  margin: auto;
  margin-bottom: 2000px;
}

