@import './article/article';

.articles {
    display: flex;
    flex-direction: column;
    margin-top: 56px ;

    &__title {
        font-family: GilroyLight;
        font-size: 20px;
        line-height: 25px;
        letter-spacing: 0.04em;
        color: #356EAD;
        opacity: 0.8;
    }
}

.articles__pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 56px;

    &-left,
    &-right {
        position: relative;
        font-family: GilroyLight;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.04em;
        color: #356EAD;
    }

    &-left{ 
        padding-left: 31px;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 4px;
            width: 12px;
            height: 12px;
            background: url(../../../images/pic/blogpage/pag_left.png) no-repeat center;
        }

        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }

    &-right{ 
        padding-right: 31px;

        &::before {
            content: "";
            position: absolute;
            right: 0;
            top: 4px;
            width: 12px;
            height: 12px;
            background: url(../../../images/pic/blogpage/pag_right.png) no-repeat center;
        }   

        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }
}

@media screen and (min-width: 320px) and  (max-width: 920px){
    .articles__title {
        text-align: center;
    }
    .articles__pagination {
        justify-content: space-evenly;
    }
}