<section class="articles">
    <p class="articles__title">ALL ARTICLE</p>
    @@include('./article/article.html')
    @@include('./article/article.html')
    @@include('./article/article.html')
    @@include('./article/article.html')
    @@include('./article/article.html')
    <section class="articles__pagination">
        <div class="articles__pagination-left">New Post</div>
        </div>
        <div class="articles__pagination-right">
            <div class="articles__pagination-text">Old Post</div>
        </div>
    </section>
</section>