.info {
    width: auto;
    height: 768px;
    padding-left: 212px;
    background: url(../../images/pic/header/illustration.png) 97% 50px/700px no-repeat ;
  
    &__title {
      max-width: 510px;
      padding-top: 101px;
      font-family: GalienLight;
      font-size: 64px;
      line-height: 74px;
      letter-spacing: 0.04em;
      color: #1F3F68;
    }
  
    &__text {
      font-family: GilroyLight;
      max-width: 425px;
      font-size: 16px;
      line-height: 26px;
      letter-spacing: 0.05em;
      color: #1F3F68;
      opacity: 0.6;
      text-align: left;
      margin-top: 2.77%;
    }

    &__btn {
        background: #5A98D0;
        border-radius: 10px;
        font-family: GilroyLight;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        letter-spacing: 0.04em;
        color: #FFFFFF;
        padding: 15px 48px;
        margin-top: 6.15%;

        &:hover {
            box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
        }
    }
  }

  
