// @import '../../../sass/common-styles';

.info {
    display: flex;
    max-width: 311px;
    flex-direction: column;

    &__img {
        max-width: 301px;
        margin-top: 63px;
    }


    p, a {
        @extend %bodytext;
        opacity: 1;
        position: relative;
        display: block;
    }


}

.info__phone-nmb, 
.info__mail-web,
.info__mail-ml {
    padding-left: 40px;
}


.info__address {
    margin-top: 71px;
}

.info__phone, .info__mail {
    margin-top: 40px;

    p:last-child {
        margin-top: 16px;
    }
}

.info__mail-ml {
    margin-top: 16px;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        width: 24px;
        height: 24px;
        background: url(../../../images/pic/blogpage/mail.png) no-repeat center;
    }
}


.info__phone-nmb::before {
    content: "";
    position: absolute;
    left: 0;
    width: 24px;
    height: 24px;
    background: url(../../../images/pic/blogpage/phone.png) no-repeat center;
}

.info__mail-web::before {
    content: "";
    position: absolute;
    left: 0;
    width: 24px;
    height: 24px;
    background: url(../../../images/pic/blogpage/web.png) no-repeat center;
}

.info__title {
    font-family: GilroyLight;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    text-transform: uppercase;
    margin-bottom: 24px;
}