<div class="info">
    <div class="info__img">
        <img src="../../../images/pic/blogpage/info.png" alt="image">
    </div>
    <div class="info__address">
        <h5 class="info__title">address</h5>
        <p class="info__text">Id convallis placerat sit sed duis id amet volutpat quam a, pharetra.</p>
    </div>
    <div class="info__phone">
        <h5 class="info__title">phone</h5>
        <p class="info__phone-nmb">+62-812-7313-4321</p>
        <p class="info__phone-nmb">+62-812-7313-4336</p>
    </div>
    <div class="info__mail"></div>
        <h5 class="info__title">online service</h5>
        <p class="info__mail-web"><a href="@@webRoot/index.html">www.afrianska.com</a></p>
        <p class="info__mail-ml">hello.afrian@gmail.com </p>
    </div>
    
</div>