@import '../../../sass/common-styles';

.c-form {
    max-width: 540px;
    width: 100%;
    box-sizing: border-box;
    padding: 56px;
    background: #FFFFFF;
    box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    
    &__title {
        font-family: 'GilroyLight';
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.04em;
        color: #1F3F68;
        margin-bottom: 48px;
        text-transform: uppercase;
    }
}

.c-form__fm {
    display: flex;
    flex-direction: column;
    
    input, textarea {
        width: auto;
        box-sizing: border-box;
        padding-left: 36px;
        padding-right: 10px;
        padding-bottom: 10px;
        opacity: 0.4;
        border: 1px solid #356EAD;
        box-sizing: border-box;
        border-radius: 10px;
        font-family: 'GilroyLight';
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 0.04em;
        color: #1F3F68;
        margin-top: 8px;
    }

    input {
        height: 72px;
    }

    textarea {
        padding-top: 21px;

    }

    label{ 
        font-family: 'GilroyLight';
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 0.04em;
        color: #1F3F68;
        opacity: 0.8;
    
        &:not(:first-child) {
            margin-top: 32px;
        }
    }

    button {
        background: #5A98D0;
        box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
        margin-top: 72px;
        text-transform: uppercase;
        padding-top: 23px;
        padding-bottom: 23px;
    }

}



