<div class="c-form">
    <h5 class="c-form__title">send us message</h5>

    <form class="c-form__fm" method="POST">
            <label for="user_name">Full Name</label>
            <input type="text" id="user_name" class="c-form__name" placeholder="Your Name">

            <label for="e_mail">Email</label>
            <input type="email" id="e_mail" class="c-form__mail" placeholder="Your Email">

            <label for="msg">Message</label>
            <textarea type="text" id="msg"  rows="4" class="c-form__msg" placeholder="Your message" ></textarea>
            <button type="submit" class="btn c-form__btn">submit</button>
    </form>


</div>