@import '../../../sass/common-styles';
@import './cards/card';


.wedo {
    position: relative;
    max-width: 68.8%;
    height: 1162px;
    margin: auto;

    &__card-one {
        position: absolute;
        top: 308px;
        left: 80px;
    }

    &__card-two {
        position: absolute;
        top: 12px;
        right: 0px;
    }

    &__card-three {
        position: absolute;
        bottom: 0px;
        right: 0px;
    }
}

.wedo__title {
    width: 38%;
    @extend %secondtitle;
}


