<section class="wedo">
    <h3 class="wedo__title">What we do to help our client grow in digital era,</h3>
    <div class="wedo__card">
        <div class="wedo__img"></div>
        <section class="wedo__body">
            <h4 class="wedo__header">Make Your business To Be Better Famous In Internet</h4>
            <p class="wedo__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            <a href="#" class="wedo__link">Learn more </a>
        </section>
    </div>
</section>