@import './info/info';
@import './form/c_form';

.contact-main {
    display: flex;
    justify-content: space-between;
    padding-top: 57px;
}

@media screen and (max-width: 860px){
    .contact-main {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
}

.map {
    margin: 96px auto;
    max-width: 940px;
    max-height: 480px;

    img {
        width: 100%;
    }
}