@import './info/info';
@import './form/c_form';

.contact-main {
    display: flex;
    justify-content: space-between;
    padding-top: 57px;
}

@media screen and (max-width: 860px){
    .contact-main {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
}
@media screen and (min-width: 741px) {
    .map {
        margin: 96px  0 auto;
        width: 100%;
        min-height: 480px;
    }
}

@media screen and (min-width: 320px) and (max-width: 740px) {
    .map {
        margin: 70px auto;
        width: 100%;
        min-height: 280px;
    }
}