<main>
    <section class="container">
        <section class="contact-main">
                 @@include('./info/info.html')
                 @@include('./form/c_form.html')
        </section>
             <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2540.3462601350734!2d30.52455511570187!3d50.45327649504234!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ce4fd283fb39%3A0x29a0909011e2754a!2zVWtyYWluc2tpeSBkb20sINGD0LsuINCa0YDQtdGJ0LDRgtC40LosIDIsINCa0LjQtdCyLCAwMTAwMQ!5e0!3m2!1sru!2sua!4v1592546658374!5m2!1sru!2sua"  frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0">
             </iframe>
    </section>
</main>

    