<div class="our_client">
    <div class="projects__head">
        <h3 class="projects__title">Our Beloved Client</h3>
        <p class="projects__text">Lorem ipsum dolor sit amet, consectetur 
            adipisicing elit, sed do eiusmod tempor incididunt ut labore et 
            dolore magna aliqua. Ut enim ad minim veniam.</p>
    </div>
    <section class="our_client__logo" >
        <div class="our_client__logo-box">Logo Client 1</div>
        <div class="our_client__logo-box">Logo Client 1</div>
        <div class="our_client__logo-box">Logo Client 1</div>
        <div class="our_client__logo-box">Logo Client 1</div>
        <div class="our_client__logo-box">Logo Client 1</div>
        <div class="our_client__logo-box">Logo Client 1</div>
        <div class="our_client__logo-box">Logo Client 1</div>
        <div class="our_client__logo-box ">More Client</div>
    </section>
  
</div>

