@import '../../sass/common-styles';

.navigation {
    max-width: 1200px;
    display: grid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding-top: 8px;
    padding-bottom: 8px;


    // &__logo {
    //     width: 48px;
    //     height: 32px;
    //     background: url(../../../images/pic/header/logo.png) no-repeat center;
    // }

    &__list {
        width: 32px;
        height: 32px;
        background: url(../../../images/pic/header/ic_menu.png) no-repeat center;
        
        &:hover {
            cursor: pointer;
        }
    }

   
}

@media screen and (max-width: 1200px){
    .navigation { 
        padding-left: 10px;
        padding-right: 10px;
    }
}
