<!-- navigation start -->
<section class="navbar">
    <div class="logo">
      <a class="logo__link" href="@@webRoot/index.html">
        <img class="logo__link-img"   
          src="../../images/pic/header/logo.png" alt="company logo">
      </a>
    </div>
    <nav class="menu">
        <input type="radio" id="menu-list" name="menu-list-group" />
        <label for="menu-list">
          <div class="menu__list-img"></div>
        </label>

        <div class="menu__close">
          <input type="radio" id="menu-close" name="menu-list-group" />
          <label for="menu-close"><div class="navbar__list"></div></label>
        </div>

        <div class="menu__content">
            <ul>
              <li>
                <a href="@@webRoot/index.html">Home</a>
              </li>
              <li>
                <a href="@@webRoot/blogpage.html">Blog</a>
              </li>
              <li>
                <a href="@@webRoot/contact.html">Contact Us</a>
              </li>
            </ul>
          </div>
    </nav>
</section>
<!-- navigation end -->


