<!-- navigation -->

<section class="navigation">
    <div class="logo"></div>
    <nav class="tab">
        <input type="radio" id="tab-list" name="tab-list-group" />
        <label for="tab-list"><div class="navigation__list"></div></label>

        <div class="close-tab">
          <input type="radio" id="tab-close" name="tab-list-group" />
          <label for="tab-close"><div class="navigation__list"></div></label>
        </div>

        <div class="content">
            <ul>
              <li><a href="@@webRoot/index.html">Home</a></li>
              <li><a href="@@webRoot/blogpage.html">Blog</a></li>
              <li><a href="@@webRoot/contact.html">Contact Us</a></li>
            </ul>
          </div>
    </nav>
</section>


