@import '../../../sass/common-styles';

.hero {
    max-width: 1200px;
    margin: auto;
    position: relative;

    &__info {
      max-width: 510px;
      padding-left: 10.75%;
      padding-top: 7.39%;
    }
    
  
    &__title {
      font-family: GalienLight;
      font-size: 64px;
      line-height: 74px;
      letter-spacing: 0.04em;
      color: #1F3F68;
    }
  
    &__text {
      font-family: GilroyLight;
      font-size: 16px;
      line-height: 26px;
      letter-spacing: 0.05em;
      color: #1F3F68;
      opacity: 0.6;
      text-align: left;
      margin-top: 6.28%;
      padding-right: 16.66%;
    }

    &__btn {
        background: #5A98D0;
        margin-top: 13.93%;

        &:hover {
            box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
        }
      }

    &__img {
      position: absolute;
      width: 57.27%;
      transform: translate(82%, -75%);
      z-index: -1;
    }
}

@media screen and (min-width: 375px) and (max-width: 767px){
  .hero__img {
    display: none;
  }

  .hero__title {
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
  }

  .hero__text {
      font-size: 14px;
      line-height: 24px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1010px){
  .hero__img {
      position: absolute;
      width: 40%;
      transform: translate(120%, -65%);
      z-index: -1;
  }
  .hero__title {
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
  }

  .hero__info {
    max-width: 100%;
  }
}


