@import '../../../sass/common-styles';

.hero {
    max-width: 1200px;
    margin: auto;
    position: relative;

    &__info {
      max-width: 510px;
      padding-left: 10.75%;
      padding-top: 7.39%;
    }
    
  
    &__title {
      font-family: GalienLight;
      font-size: 64px;
      line-height: 74px;
      letter-spacing: 0.04em;
      color: #1F3F68;
    }
  
    &__text {
      font-family: GilroyLight;
      font-size: 16px;
      line-height: 26px;
      letter-spacing: 0.05em;
      color: #1F3F68;
      opacity: 0.6;
      text-align: left;
      margin-top: 6.28%;
      padding-right: 16.66%;
    }

    &__btn {
        background: #5A98D0;
        
        margin-top: 13.93%;

        &:hover {
            box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
        }
      }

    &__img {
      position: absolute;
      // right: -50px;
      // top: 45px;
      width: 57.27%;
      transform: translate(82%, -75%);
      z-index: -1;
    }
}


