<section class="projects">
    <div class="projects__head">
        <h3 class="projects__title">Our Finished Project</h3>
        <p class="projects__text">Lorem ipsum dolor sit amet, consectetur 
            adipisicing elit, sed do eiusmod tempor incididunt ut labore et 
            dolore magna aliqua. Ut enim ad minim veniam.</p>
    </div>
    <div class="projects__banner-group">
        <div class="project__first">
            <h4 class="projects__banner-title projects__banner-title-top " >Smart Home Installation</h4>
            <p class="projects__banner-text projects__banner-text-top">In Muarakana Housing Estate</p>
        </div>
        <div class="project__second">
            <h4 class="projects__banner-title projects__banner-title-bottomn" >Sparklite App</h4>
            <p class="projects__banner-text projects__banner-text-bottomn">Marketplace</p>
        </div>
        <div class="project__third">
            <h4 class="projects__banner-title projects__banner-title-bottomn">Car-Rapetition App</h4>
            <p class="projects__banner-text projects__banner-text-bottomn">Board</p>
        </div>
    </div>
</section>