@import "../../../sass/common-styles";


.projects {
    max-width: 940px;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 117px;
}

.projects__head {
    width: 100%;
    display: flex;
}

.projects__title {
    @extend %h3;
    color: #1F3F68;
    width: 24.15%;
}

.projects__text {
    @extend %bodytext;
    flex: 1;
    margin-right: 8.5%;
    margin-left: 9.9%;
}


@media screen and (min-width: 320px) and (max-width: 768px) {
    .projects__head {
        display: flex;
        flex-direction: column;
    }

    .projects__title {
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }

    .projects__text {
        margin-top: 25px;
    }
}

.projects__banner-group {
    display: grid;
    margin-top: 96px;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 424px;
    grid-row-gap: 89px;
    grid-column-gap: 96px;
}

.project__first {
    grid-column: span 2;
    background: url(../../../images/pic/body/MaskGroup.png) no-repeat center;
}

.project__second {
    background: url(../../../images/pic/body/MaskGroup1.png) no-repeat center;
}

.project__third {
    background: url(../../../images/pic/body/MaskGroup2.png) no-repeat center;
}

.projects__banner-title {
    @extend %h4;
    color: #FFFFFF;
}
    
.projects__banner-title-top {
        text-align: right;
        margin-top: 48px;
        margin-right: 45px;
    }

.projects__banner-title-bottomn {
        margin-top: 24px;
        margin-left: 32px;
    }


.projects__banner-text {
    font-family: GilroyLight;
    font-size: 16px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.8;
}

.projects__banner-text-top {
        text-align: right;
        margin-top: 8px;
        margin-right: 45px;
    }

.projects__banner-text-bottomn {
        margin-top: 4px;
        margin-left: 32px;
    }

