<section class="projects">
    <div class="projects__head">
        <h3 class="projects__title">Our Finished Project</h3>
        <p class="projects__text">Lorem ipsum dolor sit amet, consectetur 
            adipisicing elit, sed do eiusmod tempor incididunt ut labore et 
            dolore magna aliqua. Ut enim ad minim veniam.</p>
    </div>
    <ul class="projects__banner">
        <li>
            <div class="projects__banner-top">
                <h4 class="projects__banner-title">
                    Smart Home Installation
                </h4>
                <p class="projects__banner-text">
                    In Muarakana Housing Estate
                </p>
            </div>
            <div class="projects__banner-img">
                <img src="../../../images/pic/body/MaskGroup.png" alt="">
            </div>
        </li>
        <li>
            <div class="projects__banner-caption">
                <h4 class="projects__banner-title">
                    Sparklite App
                </h4>
                <p class="projects__banner-text">
                    Marketplace
                </p>
            </div>
            <div class="projects__banner-img">
                <img src="../../../images/pic/body/MaskGroup1.png" alt="">
            </div>
        </li>
        <li>
            <div class="projects__banner-caption">
                <h4 class="projects__banner-title">
                    Car-Rapetition App
                </h4>
                <p class="projects__banner-text">
                    Board
                </p>
            </div>
            <div class="projects__banner-img">
                <img src="../../../images/pic/body/MaskGroup2.png" alt="">
            </div>
        </li>
        </ul>
    </div>
</section>





