// @import '../../../../sass/common-styles';
@import '../../../shareblock/shareblock';
@import '../../cards_blog/cards_blog';

.popular {
    display: flex;
    flex-direction: column;
    margin-top: 58px;
    padding-bottom: 24px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);;

    &__title-top {
        font-family: 'GilroyLight';
        font-size: 20px;
        line-height: 25px;
        letter-spacing: 0.04em;
        color: #356EAD;
        opacity: 0.8;
        margin-bottom: 32px;
    }

    &__title-btm {
        margin-top: 54px;
        align-self: flex-end;

        a{
            
            font-family: 'GilroyLight';
            font-size: 16px;
            line-height: 20px;
            text-align: right;
            letter-spacing: 0.04em;
            text-transform: uppercase;
            color: #356EAD;
            opacity: 0.8;
        }
    }
}

.popular__block-frst {
    display: flex;
    justify-content: space-between;
}

.popular__info {
    max-width: 380px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
    
.popular__info-header {
    font-family: 'GalienLight';
    font-size: 48px;
    line-height: 58px;
    letter-spacing: 0.04em;
    color: #1F3F68;
}

.popular__info-text {
    font-family: 'GilroyLight';
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: #000000;
    opacity: 0.6;
}
   



.popular__img {
    width: auto;

    img {
        width: 100%;
    }
}

.popular__block-scnd {
    margin-top: 33px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media screen and (min-width: 620px) and (max-width: 920px) {
    .popular__block-scnd {
        justify-content: space-around;
    }
    
}
@media screen and (min-width: 320px) and (max-width: 619px) {
    .popular__block-scnd {
        justify-content: center;
    }
    
}
@media screen and (min-width: 320px) and (max-width: 900px) {
    .popular__block-frst  {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .popular__title-top {
        text-align: center;
    }

    // .popular__img {
    //     width: auto;
    // }
}
    
