@import '../../sass/common-styles';


.foot {
    position: relative;
    margin-right: 6vw;
    margin-top: 13.5%;
    padding-top: 5.69rem;
    padding-bottom: 4rem;
    background: #316099;
    border-radius: 0px 200px 0px 0px;

    &::after {
        content: "";
        display: block;
        height: 1px;
        width: 81%;
        position: absolute;
        top: 24.44rem;
        background-color: #FFFFFF;
        opacity: 0.4;
    }

    &__inner {
        margin-left: 74px;
    }


    &__top {
        margin: auto;
        max-width: 860px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    &__message {
        max-width: 460px;

        h2 {
            @extend %h3;
            color: #FFFFFF;
        }

        p {
            @extend %bodytext;
            color: #FFFFFF;
            margin-top: 36px;
        }

    }

    &__btn {
        background: #5A98D0;
        padding: 15px 75px;
    }

    &__info {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 737px;
        margin-top: 12rem;
        margin-bottom: 4rem;
        padding-left: 2.88rem;
    }

    &__contacts {
        max-width: 396px;
        margin-right: 10px;
    }

    &__logo {
        display: flex;
        align-items: center;
        margin-bottom: 33px;
    }

    &__logo-text {
        @extend %h4;
        margin-left: 16px;
        color: #FFFFFF;
    }


    &__contacts {
        display: flex;
        flex-direction: column;
        justify-content: end;

        &-item {
            display: flex;
            @extend %bodytext;
            opacity: 1;
            color: #FFFFFF;
        }

        a {
            margin-left: 16px;
        }

        li:nth-child(n+3) {
            margin-top: 24px;
        }
    }

    &__navlinks {
        display: inline-block;

        h5 {
            font-family: GalienLight;
            font-size: 20px;
            line-height: 30px;
            letter-spacing: 0.05em;
            color: #FFFFFF;
            margin-bottom: 32px;
        }

        a {
            @extend %bodytext;
            opacity: 1;
            color: #FFFFFF;
        }

        li:nth-child(n+3) {
            margin-top: 16px;
        }
    }

    &__copyright {
        @extend %bodytext;
        opacity: 0.4;
        color: #FFFFFF;
        padding-left: 46px
    }
}

// @media screen and (min-width: 505px) and (max-width: 744px) {
//     .foot__info {
//         align-items: flex-end;
//         justify-content: space-around;
//     }
// }
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .foot__btn {
        margin-top: 25px;
        margin-right: 20px;
    }

    .foot__navlinks {
        margin-top: 15px;
    }
}
@media screen and (min-width: 320px) and (max-width: 740px) {
    .foot {
        position: relative;
        margin-right: 0;
        margin-top: 13.5%;
        padding-top: 91px;
        padding-bottom: 64px;
        background: #316099;
        border-radius: 0px 200px 0px 0px;
    
        &::after {
            content: "";
            display: block;
            height: 1px;
            width: 100%;
            position: absolute;
            top: 42%;
            background-color: #FFFFFF;
            opacity: 0.4;
        }

        &__inner {
            margin-left: 0;
        }

        &__message {
            max-width: 80%;
            margin: auto;
        }
    }

    .foot__info {
        padding-left: 0;
    }

    

    .foot__btn {
        margin: 35px auto 0;
    }
}

@media screen and (max-width: 410px) {
    .foot__navlinks {
        margin-top: 40px;
    }
}