<footer class="foot">
    <div class="container">
        <div class="foot__inner">
            <div class="foot__top">
                <div class="foot__message">
                    <h2>Interested to work <br> with our team?</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                        sed do eiusmod tempor incididunt ut 
                        labore et dolore magna aliqua. Ut enim 
                        ad minim veniam.</p>
                </div>
                <button class="foot__btn btn">Let's Talk</button>
            </div>
            <div class="foot__info">
                <div class="foot__contacts">
                    <ul>
                        <li class="foot__logo">
                            <div class="logo-light"></div>
                            <h4 class="foot__logo-text">Afrianska</h4>
                        </li>
                        <li class="foot__contacts-item">
                            <div>
                               <p>
                                A.
                               </p> 
                            </div>
                            <a href="#">Address information</a> 
                        </li>
        
                        <li class="foot__contacts-item">
                            <div>
                                <p>
                                 T.
                                </p> 
                             </div>
                            <a href="#">+62-812-7313-4321</a> 
                        </li>
        
                        <li class="foot__contacts-item">
                            <div>
                                <p>
                                 E.
                                </p> 
                             </div>
                            <address style="display: inline-block;">
                                <a href="#">hello.afrian@gmail.com</a>
                            </address>
                        </li>
                    </ul>
                </div>
                <div class="foot__navlinks">
                    <ul>
                        <li>
                            <h5>About US</h5>
                        </li>
                        <li>
                            <a href="#">About</a>
                        </li>
                        <li>
                            <a href="#">What We Do</a>
                        </li>
                        <li>
                            <a href="#">Project</a>
                        </li>
                        <li>
                            <a href="#">How It Work With Us</a>
                        </li>
                    </ul>
                </div>
                <div class="foot__navlinks">
                    <ul>
                        <li>
                            <h5>Follow US</h5>
                        </li>
                        <li>
                            <a href="#">Instagram</a>
                        </li>
                        <li>
                            <a href="#">Facebook</a>
                        </li>
                        <li>
                            <a href="#">LinkedIn</a>
                        </li>
                        <li>
                            <a href="#">Youtube</a>
                        </li>
                    </ul>
                </div>
            </div>
            <span class="foot__copyright">
                2019 &copy; Afrianska. All rights reserved
            </span> 
        </div>
    </div>
</footer>
    

