<footer class="foot">
    <section class="foot__pagesize">
        <section class="foot__top">
            <div class="foot__message">
                <h2>Interested to work <br> with our team?</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                    sed do eiusmod tempor incididunt ut 
                    labore et dolore magna aliqua. Ut enim 
                    ad minim veniam.</p>
            </div>
            <button class="foot__btn btn">Let's Talk</button>
        </section>
        <section class="foot__info">
            <section class="foot__contacts">
                <ul>
                    <li class="foot__logo">
                        <div class="logo-light"></div>
                        <h4 class="foot__logo-text">Afrianska</h4>
                    </li>
                    <li>
                        <span>A.</span>
                        <a href="#">Address information</a> 
                    </li>
    
                    <li>
                        <span>T.</span>
                        <a href="#">+62-812-7313-4321</a> 
                    </li>
    
                    <li>
                        <span>E</span>
                        <address style="display: inline-block;">
                            <a href="#">hello.afrian@gmail.com</a>
                        </address>
                    </li>
                </ul>
            </section>
            <section class="foot__navlinks">
                <ul>
                    <li>
                        <h5>About US</h5>
                    </li>
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">What We Do</a>
                    </li>
                    <li>
                        <a href="#">Project</a>
                    </li>
                    <li>
                        <a href="#">How It Work With Us</a>
                    </li>
                </ul>
            </section>
            <section class="foot__navlinks">
                <ul>
                    <li>
                        <h5>Follow US</h5>
                    </li>
                    <li>
                        <a href="#">Instagram</a>
                    </li>
                    <li>
                        <a href="#">Facebook</a>
                    </li>
                    <li>
                        <a href="#">LinkedIn</a>
                    </li>
                    <li>
                        <a href="#">Youtube</a>
                    </li>
                </ul>
            </section>
        </section>
        <span class="foot__copyright">
            2019 &copy; Afrianska. All rights reserved
        </span> 
    </section>
    
</footer>
    

