<!-- Footer Start -->
<footer class="foot">
    <div class="container">
        <div class="foot__inner">
            <div class="foot__top">
                <div class="foot__message">
                    <h2>
                        Interested to work <br> with our team?
                    </h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                        sed do eiusmod tempor incididunt ut 
                        labore et dolore magna aliqua. Ut enim 
                        ad minim veniam.
                    </p>
                </div>
                <a class="foot__btn btn" href="@@webRoot/contact.html" target="_blank">Let's Talk</a>
            </div>
            <div class="foot__info">
                <div class="foot__contacts">
                    <ul>
                        <li class="foot__logo">
                            <div class="logo-light"></div>
                            <h4 class="foot__logo-text">Afrianska</h4>
                        </li>
                        <li class="foot__contacts-item">
                               <p>
                                A.
                               </p> 
                            <a href="#">Address information</a> 
                        </li>
        
                        <li class="foot__contacts-item">
                                <p>
                                 T.
                                </p> 
                            <a href="#">+62-812-7313-4321</a> 
                        </li>
        
                        <li class="foot__contacts-item">
                                <p>
                                 E.
                                </p> 
                            <address style="display: inline-block;">
                                <a href="#">hello.afrian@gmail.com</a>
                            </address>
                        </li>
                    </ul>
                </div>
                <nav class="foot__navlinks">
                            <h5>
                                About US
                            </h5>
                            <a href="#">
                                About
                            </a>
                            <a href="#">
                                What We Do
                            </a>
                            <a href="#">
                                Project
                            </a>
                            <a href="#">
                                How It Work With Us
                            </a>
                </nav>
                <nav class="foot__navlinks">
                            <h5>
                                Follow US
                            </h5>
                            <a href="#">
                                Instagram
                            </a>
                            <a href="#">
                                Facebook
                            </a>
                            <a href="#">
                                LinkedIn
                            </a>
                            <a href="#">
                                Youtube
                            </a>
                </nav>
            </div> 
            <span class="foot__copyright">
                2019 &copy; Afrianska. All rights reserved
            </span> 
        </div>
    </div>
</footer>
<!-- Footer End -->
    

