
@media screen and (min-width: 1024px){ 
    .search-bar {
        max-width: 940px;
        margin: auto;
        background: #F4F4F4;
        border-radius: 10px;
        padding: 16px 24px;

        input {
            height: 24px;
            border-style: none;
            width: 100%;
            padding-left: 27.5px;
            background: url(../../images/pic/icon/Search.png) no-repeat left;
            color: #1F3F68;
            opacity: 0.6;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .search-bar {
        max-width: 640px;
        margin: auto;
        background: #F4F4F4;
        border-radius: 10px;
        padding: 16px 24px;

        input {
            height: 24px;
            border-style: none;
            width: 100%;
            padding-left: 27.5px;
            background: url(../../images/pic/icon/Search.png) no-repeat left;
            color: #1F3F68;
            opacity: 0.6;
        }
    }
}
@media screen and (min-width: 375px) and (max-width: 767px) {
    .search-bar {
        max-width: 300px;
        margin: auto;
        background: #F4F4F4;
        border-radius: 10px;
        padding: 10px 14px;

        input {
            height: 19px;
            border-style: none;
            width: 100%;
            padding-left: 17.5px;
            background: url(../../images/pic/icon/Search.png) no-repeat left;
            color: #1F3F68;
            opacity: 0.6;
        }
    }
}