<div class="wrapper-bottom">
    <div class="our_client">
        <div class="projects__head  ">
            <h3 class="projects__title ">Our Beloved Client</h3>
            <p class="projects__text ">Lorem ipsum dolor sit amet, consectetur 
                adipisicing elit, sed do eiusmod tempor incididunt ut labore et 
                dolore magna aliqua. Ut enim ad minim veniam.</p>
        </div>
        <section class="our_client__logo" >
            <div class="our_client__logo-box">
                <a href="#">
                    <img src="../../../images/pic/body/Group 5.png" alt="">
                </a>
            </div>
            <div class="our_client__logo-box">
                <a href="#">
                    <img src="../../../images/pic/body/Group 5.png" alt="">
                </a>
            </div>
            <div class="our_client__logo-box">
                <a href="#">
                    <img src="../../../images/pic/body/Group 5.png" alt="">
                </a>
            </div>
            <div class="our_client__logo-box">
                <a href="#">
                    <img src="../../../images/pic/body/Group 5.png" alt="">
                </a>
            </div>
            <div class="our_client__logo-box">
                <a href="#">
                    <img src="../../../images/pic/body/Group 5.png" alt="">
                </a>
            </div>
            <div class="our_client__logo-box">
                <a href="#">
                    <img src="../../../images/pic/body/Group 5.png" alt="">
                </a>
            </div>
            <div class="our_client__logo-box">
                <a href="#">
                    <img src="../../../images/pic/body/Group 5.png" alt="">
                </a>
            </div>
            <div class="our_client__logo-box">
                <a href="#">
                    More Client
                </a>
            </div>
        </section>
    </div>
    @@include('../../footer/footer.html')
</div>

